.col {
  padding-left: 15px;
  padding-right: 15px;
  flex: 1 0 0%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-lg-offset-4 {
  margin-left: 33.333333%;
}

.col-xl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xl-offset-3 {
  margin-left: 25%;
}
